.bg-img-fullcallback {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 115px;
	padding-bottom: 115px;
	z-index: 1;
	* {
		color: $light-color;
	}
	.video-button {
		margin-bottom: 50px;
	}
	p {
		margin-bottom: 40px;
		font-size: 16px;
	}
	.callback-btn {
		margin-left: -10px;
		margin-right: -10px;
		a {
			margin: 10px;
		}
	}
	@include bp(smx) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
.home-callback {
	padding-bottom: 185px;
	@include bp(smx) {
		padding-bottom: 140px;
	}
}

.bg-color-callback {
	padding-top: 85px;
	padding-bottom: 85px;
	&.primary-bg {
		* {
			color: $light-color;
		}
	}
	h2 {
		~ p {
			margin-bottom: 0;
		}
	}
	@include bp(smx) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}