// Theme
$primary-color: #3A78C9;
$secondary-color: #3A78C9;
$hover-color: #174B90;
$title-color: #223645;
$light-color: #ffffff;
$dark-color: #000000;

// Default
$danger-color: #D9534F;
$info-color: #5BC0DE;
$success-color: #5CB85C;
$warning-color: #F0AD4E;
$disable-color: #CCC;


// Font Family
$primary-font: 'Poppins', sans-serif;
$title-font: 'Montserrat', sans-serif;

// Line Hight
$body-line-height: 1.6;
$title-line-height: 1.2;