.no-content-section {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;
	@include bp(smx) {
		padding-bottom: 60px;
	}
}
.no-content-wrap {
	text-align: center;
	span.extra-big {
		color: rgba(167, 167, 167, 0.37);
		@include font-size(280);
		font-family: $title-font;
		font-weight: 900;
		line-height: 1;
	}
	h1 {
		font-size: 50px;
		margin-bottom: 0;
	}
	p {
		@include font-size(16);
		margin-top: 40px;
	}
	.no-content-form {
		@include flexbox();
		@include flex-wrap(wrap);
		margin-top: 46px; 
		input {
			background-color: $light-color;
			border-color: $primary-color;
			height: 52px;
			padding: 0 20px;
			@include flex-grow(1);
			margin-right: 20px;
		}
	}
	@include bp(mdx) {
		span.extra-big {
			@include font-size(224);
		}
	}
	@include bp(smx) {
		span.extra-big {
			@include font-size(100);
		}
		h1 {
			@include font-size(22);
		}
		.no-content-form {
			input {
				margin-bottom: 20px;
				margin-right: 0;
			}
			button {
				width: 100%;
				text-align: center;
			}
		}
	}
}