.faq-page-container {
	padding-bottom: 100px;
	&.bg-light-grey {
		padding-top: 100px;
	}
	.section-head {
		p {
			margin-bottom: 30px;
		}
	}
	@include bp(xl) {
		.row {
			margin-left: -25px;
			margin-right: -25px;
			[class*="col-"] {
				padding-left: 25px; 
				padding-right: 25px; 
			}
		}
	}
	@include bp(lgx) {
		.faq-content-wrap {
			margin-bottom: 20px;
		}
	}
	@include bp(smx) {
		padding-bottom: 70px;
		&.bg-light-grey {
			padding-top: 70px;
		}
	}
}

.faq-testimonial {
	position: relative;
	.faq-image {
		img {
			@include border-radius(25px);
			width: 100%;
		}
	}
	.testimonial-content {
		background-color: $light-color;
		@include border-radius(25px);
		padding: 30px 30px 30px 70px;
		position: absolute;
		bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
		.quote-icon {
			margin-bottom: -25px;
			display: block;
			margin-left: -30px;
		}
		i {
			color: rgba(167, 167, 167, 0.35);
			font-size: 40px;
		    line-height: 1;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include bp(lgx) {
		margin-top: 40px;
	}
}